/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background-color: gold;
}

/*Main White container*/
.main_container {
  position: relative;
  max-width: 95%;
  height: 1000px;
  border: 1px solid white;
  background-color: #f4f4f4;
  padding: 30px;
  border: 1px solid red;
  z-index: 2;

}

 /* This is the Nav Bar */
 .nav {
   position: relative;
   background-color: white;
   width: 100%;
   height: 150px;
   z-index: 1;

}

 .linkref {
   float: left;
   color: black;
   text-decoration: none;
   padding: 23px;
   font-size: 20px;
   display: block;
 }

 a:hover {
   color: gray;
 }

 /* This is the Sign Up/Sign In Div*/
 #top-banner {
   float: right;
   position: relative;
   top: 20px;
   background-color: white;
   color: black;
   width: 30%;
   text-align: right;
   font-size: 15px;
   border-radius: 20px;
 }

 .banner_link {
   text-decoration: none;
   padding: 23px;
   font-size: 20px;
   color: black;
 }


 a:hover {
   color: gray;
 }

 /*This is the photo*/
 .nav {
   background-image: url(https://www.abercrombiekent.com/assets_global/media/images/brand_marketing/mastheads/lsgj/patagonia-the-last-wilderness.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   position: relative;
   max-width: 100%;
   z-index: 100;
 }
