// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*Sign In Form*/
.sign_in_form {
  position: relative;
  width: 40%;
  z-index: 100;
  text-align: center;
  bottom: 1100px;
  left: 62%;
  display: inline-block;
}

.login_button {
  float: left;

}

.text_field {
  font-size: 30px;
}
